.box {
background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
display: flex;
align-items: center;
height: 100vh;

}
.container {
  padding: 10px;
  height: 70vh;
  /* border: 2px solid plum;
  border-radius: 20px; */
  color: white;

  

}